
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609376346606404168.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609376346606404168.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609376346606404168.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609376346606404168.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609376346606404168.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609376346606404168.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609376346606404168.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609376346606404168.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609376346606404168.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609376346606404168.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609376346606404168.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609376346606404168.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609376346606404168.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609376346606404168.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609376346606404168.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609376346606404168.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609376346606404168.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609376346606404168.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609376346606404168.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609376346606404168.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609376346606404168.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609376346606404168.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609376346606404168.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609376346606404168.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609376346606404168.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609376346606404168.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609376346606404168.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609376346606404168.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-609376346606404168.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-609376346606404168.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609376346606404168.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609376346606404168.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609376346606404168.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609376346606404168.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609376346606404168.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609376346606404168.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609376346606404168.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609376346606404168.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-609376346606404168.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609376346606404168.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609376346606404168.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609376346606404168.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609376346606404168.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609376346606404168.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609376346606404168.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-609376346606404168.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609376346606404168.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609376346606404168.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609376346606404168.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609376346606404168.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-609376346606404168.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609376346606404168.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609376346606404168.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609376346606404168.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-609376346606404168.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-609376346606404168.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609376346606404168.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609376346606404168.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609376346606404168.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609376346606404168.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-609376346606404168.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609376346606404168 .focus-visible\:gp-shadow-none,.gps-609376346606404168 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-609376346606404168 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-609376346606404168 .gp-fixed{position:fixed}.gps-609376346606404168 .gp-absolute{position:absolute}.gps-609376346606404168 .gp-relative{position:relative}.gps-609376346606404168 .gp-inset-0{inset:0}.gps-609376346606404168 .gp-right-0{right:0}.gps-609376346606404168 .gp-top-0{top:0}.gps-609376346606404168 .gp-z-1{z-index:1}.gps-609376346606404168 .gp-z-50{z-index:50}.gps-609376346606404168 .gp-z-\[999999\]{z-index:999999}.gps-609376346606404168 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609376346606404168 .gp-mb-0{margin-bottom:0}.gps-609376346606404168 .gp-block{display:block}.gps-609376346606404168 .gp-inline-block{display:inline-block}.gps-609376346606404168 .gp-flex{display:flex}.gps-609376346606404168 .gp-inline-flex{display:inline-flex}.gps-609376346606404168 .gp-grid{display:grid}.gps-609376346606404168 .\!gp-hidden{display:none!important}.gps-609376346606404168 .gp-hidden{display:none}.gps-609376346606404168 .gp-h-full{height:100%}.gps-609376346606404168 .gp-h-screen{height:100vh}.gps-609376346606404168 .\!gp-max-h-screen{max-height:100vh!important}.gps-609376346606404168 .gp-max-h-full{max-height:100%}.gps-609376346606404168 .gp-w-full{width:100%}.gps-609376346606404168 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-609376346606404168 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-609376346606404168 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609376346606404168 .gp-flex-col{flex-direction:column}.gps-609376346606404168 .gp-flex-wrap{flex-wrap:wrap}.gps-609376346606404168 .gp-items-center{align-items:center}.gps-609376346606404168 .gp-justify-center{justify-content:center}.gps-609376346606404168 .gp-overflow-hidden{overflow:hidden}.gps-609376346606404168 .gp-overflow-y-auto{overflow-y:auto}.gps-609376346606404168 .gp-overflow-x-hidden{overflow-x:hidden}.gps-609376346606404168 .gp-bg-transparent{background-color:transparent}.gps-609376346606404168 .gp-align-middle{vertical-align:middle}.gps-609376346606404168 .gp-leading-\[0\]{line-height:0}.gps-609376346606404168 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-609376346606404168 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-609376346606404168 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609376346606404168 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609376346606404168 .gp-duration-100{transition-duration:.1s}.gps-609376346606404168 .gp-duration-200{transition-duration:.2s}.gps-609376346606404168 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609376346606404168 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-609376346606404168 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-609376346606404168 .tablet\:\!gp-hidden{display:none!important}.gps-609376346606404168 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609376346606404168 .mobile\:\!gp-hidden{display:none!important}.gps-609376346606404168 .mobile\:gp-hidden{display:none}}.gps-609376346606404168 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609376346606404168 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-609376346606404168 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609376346606404168 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-609376346606404168 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-609376346606404168 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    <gp-dialog
      data-id="g_ddugxxEL"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"g_ddugxxEL","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"tablet":true,"mobile":true}}'>
      <dialog
        aria-label="Popup 1"
        data-gp-dialog-id="g_ddugxxEL"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-tablet:auto;--pe-mobile:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-tablet:block;--d-mobile:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-overflow-hidden gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--d:block;--d-tablet:block;--d-mobile:block;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1"
              style="--w:32px;--h:32px;--c:var(--g-c-text-3, text-3);--bgc:var(--g-c-brand, brand)"
            >
              <span style="--height-icon:16px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg height="20" width="20" data-name="x-bold" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508817606065848680">
        <path fill="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z"/>
      </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--op:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px;border-radius:inherit;--bgc:var(--g-c-bg-1);--bgc-mobile:transparent;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"preload":false,"color":"#E04760","type":"color"}},"uid":"gHErPk8a_o"}' data-id="gHErPk8a_o" id="gHErPk8a_o" data-same-height-subgrid-container class="gHErPk8a_o gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:6px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:50px;--bbrr-mobile:50px;--btlr-mobile:50px;--btrr-mobile:50px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc-mobile:#E04760;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gl7qOeLKZu gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gMMb119FPC"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:6px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:6px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:2px;--jc:center">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gskTz54miB ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gWCFvfFBWw" class="gp-leading-[0] gWCFvfFBWw" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gWCFvfFBWw" class="icon-wrapper gp-inline-flex gp-overflow-hidden gWCFvfFBWw " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:14px;--h:18px;--h-tablet:18px;--h-mobile:14px;--minw:18px;--minw-tablet:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="go9qXn4lxM ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gKtRysVjUK" class="gp-leading-[0] gKtRysVjUK" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pr-mobile:1px;--mb-tablet:0px;--ta:left">
      <div data-id="gKtRysVjUK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKtRysVjUK " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:14px;--h:18px;--h-tablet:18px;--h-mobile:14px;--minw:18px;--minw-tablet:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gvlBFxJiv1 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gRHmM64XAi" class="gp-leading-[0] gRHmM64XAi" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:1px;--ta:left">
      <div data-id="gRHmM64XAi" class="icon-wrapper gp-inline-flex gp-overflow-hidden gRHmM64XAi " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:14px;--h:18px;--h-tablet:18px;--h-mobile:14px;--minw:18px;--minw-tablet:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gPtFOyUrVG ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gnQ7XvwV2M" class="gp-leading-[0] gnQ7XvwV2M" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pr-mobile:1px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="gnQ7XvwV2M" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnQ7XvwV2M " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:19px;--w-tablet:19px;--w-mobile:14px;--h:19px;--h-tablet:19px;--h-mobile:14px;--minw:19px;--minw-tablet:19px;--minw-mobile:14px;--height-desktop:19px;--height-tablet:19px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gNaoZkH2Ec ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g-OZJCE6PJ" class="gp-leading-[0] g-OZJCE6PJ" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left">
      <div data-id="g-OZJCE6PJ" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-OZJCE6PJ " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:18px;--w-tablet:18px;--w-mobile:14px;--h:18px;--h-tablet:18px;--h-mobile:14px;--minw:18px;--minw-tablet:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7xTXGP6gG"
        class="g7xTXGP6gG"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7xTXGP6gG_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 25",
    "tag": "section",
    "class": "gps-609376346606404168 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=596477063121077228&sectionId=609376346606404168)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7xTXGP6gG_text","label":"gg7xTXGP6gG_text","default":"Eu comecei a me sentir melhor na primeira semana — mais disposição, mais energia… e uma vontade que eu achava que tinha “sumido”. Eu tomo 2 cápsulas pela manhã, todos os dias"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}