
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584598330504381016.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584598330504381016.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584598330504381016.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584598330504381016.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584598330504381016.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584598330504381016.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584598330504381016.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584598330504381016.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584598330504381016.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584598330504381016.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584598330504381016.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584598330504381016.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584598330504381016.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584598330504381016.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584598330504381016.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584598330504381016.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584598330504381016.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584598330504381016.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584598330504381016.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584598330504381016.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584598330504381016.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584598330504381016.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584598330504381016.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584598330504381016.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584598330504381016.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584598330504381016.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584598330504381016.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584598330504381016.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584598330504381016.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584598330504381016.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584598330504381016.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584598330504381016.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584598330504381016.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584598330504381016.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584598330504381016.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584598330504381016.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584598330504381016.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584598330504381016.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584598330504381016.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584598330504381016.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584598330504381016.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584598330504381016.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584598330504381016.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584598330504381016.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584598330504381016.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584598330504381016.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-584598330504381016.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584598330504381016.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-584598330504381016.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584598330504381016.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584598330504381016.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-584598330504381016.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584598330504381016.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584598330504381016.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584598330504381016.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584598330504381016.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-584598330504381016.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-584598330504381016.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584598330504381016.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584598330504381016.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584598330504381016.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584598330504381016.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-584598330504381016.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584598330504381016.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584598330504381016.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584598330504381016.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584598330504381016.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-584598330504381016.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584598330504381016.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-584598330504381016 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-584598330504381016 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-584598330504381016 .gp-relative{position:relative}.gps-584598330504381016 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584598330504381016 .gp-mb-0{margin-bottom:0}.gps-584598330504381016 .gp-flex{display:flex}.gps-584598330504381016 .gp-inline-flex{display:inline-flex}.gps-584598330504381016 .gp-grid{display:grid}.gps-584598330504381016 .\!gp-hidden{display:none!important}.gps-584598330504381016 .gp-hidden{display:none}.gps-584598330504381016 .gp-h-full{height:100%}.gps-584598330504381016 .gp-max-w-full{max-width:100%}.gps-584598330504381016 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584598330504381016 .gp-flex-col{flex-direction:column}.gps-584598330504381016 .gp-items-center{align-items:center}.gps-584598330504381016 .gp-justify-center{justify-content:center}.gps-584598330504381016 .gp-overflow-hidden{overflow:hidden}.gps-584598330504381016 .gp-break-words{overflow-wrap:break-word}.gps-584598330504381016 .gp-text-center{text-align:center}.gps-584598330504381016 .gp-leading-\[0\]{line-height:0}.gps-584598330504381016 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-584598330504381016 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584598330504381016 .gp-no-underline{text-decoration-line:none}.gps-584598330504381016 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584598330504381016 .gp-duration-200{transition-duration:.2s}.gps-584598330504381016 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584598330504381016 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584598330504381016 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584598330504381016 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584598330504381016 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-584598330504381016 .tablet\:\!gp-hidden{display:none!important}.gps-584598330504381016 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-584598330504381016 .mobile\:\!gp-hidden{display:none!important}.gps-584598330504381016 .mobile\:gp-hidden{display:none}}.gps-584598330504381016 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584598330504381016 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584598330504381016 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584598330504381016 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584598330504381016 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584598330504381016 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gN-zvl0UR9"}' data-id="gN-zvl0UR9" id="gN-zvl0UR9" data-same-height-subgrid-container class="gN-zvl0UR9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9apcY8TnA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gGUuSRHuKH"}' data-id="gGUuSRHuKH" id="gGUuSRHuKH" data-same-height-subgrid-container class="gGUuSRHuKH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 5fr) minmax(0, 1fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gR_IxLWfP6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7S2GyLPHw"
        class="g7S2GyLPHw"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758041135120"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7S2GyLPHw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gC4RhEKB5J gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gG5Jz03rpN" class="gp-leading-[0] gG5Jz03rpN" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gG5Jz03rpN" class="icon-wrapper gp-inline-flex gp-overflow-hidden gG5Jz03rpN " style="--shadow:none">
      
        <div >
          <span style="--c:var(--g-c-text-1, text-1);--t:rotate(0deg);--w:50px;--w-tablet:50px;--w-mobile:50px;--h:50px;--h-tablet:50px;--h-mobile:50px;--minw:50px;--minw-tablet:50px;--minw-mobile:50px;--height-desktop:50px;--height-tablet:50px;--height-mobile:50px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-text-1"><svg height="20" width="20" data-name="arrow-bend-double-up-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550820966760">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232.49,112.49l-48,48a12,12,0,0,1-17-17L207,104,167.51,64.48a12,12,0,0,1,17-17l48,48A12,12,0,0,1,232.49,112.49Zm-56-17-48-48a12,12,0,1,0-17,17L139,92H128A108.12,108.12,0,0,0,20,200a12,12,0,0,0,24,0,84.09,84.09,0,0,1,84-84h11l-27.52,27.51a12,12,0,0,0,17,17l48-48A12,12,0,0,0,176.49,95.51Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gS4XpzawBm gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"scroll-to","link":"#gN-zvl0UR9","title":"Section 12"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:15px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:15px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mt-mobile:15px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center;--ta-mobile:center" >
        <style>[data-id="gwin8M-l02"].gp-button-base::before, [data-id="gwin8M-l02-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      
  
    }
  
      
  [data-id="gwin8M-l02"]:hover::before, [data-id="gwin8M-l02-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gN-zvl0UR9
            target=undefined
          ></a>
        <a
          data-id="gwin8M-l02" dataId="gwin8M-l02" data-state="idle" aria-label="<p>COMPRAR AGORA</p>"
          
          href="#gN-zvl0UR9" target
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--btrr:12px;--hvr-bblr:12px;--hvr-bbrr:12px;--hvr-btlr:12px;--hvr-btrr:12px;--bgi:;--hvr-bgi:;--bg:#E04760;--hvr-bg:#F67A85;--c:var(--g-c-text-3, text-3);--size:25px;--size-tablet:14px;--size-mobile:14px"
          class="gwin8M-l02 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:25px;--size-tablet:14px;--size-mobile:14px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggwin8M-l02_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-584598330504381016 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=584598330504381016)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7S2GyLPHw_text","label":"gg7S2GyLPHw_text","default":"QUERO SER A PRÓXIMA&nbsp;"},{"type":"html","id":"ggwin8M-l02_label","label":"ggwin8M-l02_label","default":"<p>COMPRAR AGORA</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  