
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583114608097821528.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583114608097821528.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583114608097821528.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583114608097821528.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583114608097821528.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583114608097821528.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583114608097821528.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583114608097821528.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583114608097821528.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583114608097821528.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583114608097821528.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583114608097821528.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583114608097821528.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583114608097821528.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583114608097821528.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583114608097821528.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583114608097821528.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583114608097821528.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583114608097821528.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583114608097821528.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583114608097821528.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583114608097821528.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583114608097821528.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583114608097821528.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583114608097821528.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583114608097821528.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583114608097821528.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583114608097821528.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583114608097821528.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583114608097821528.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583114608097821528.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583114608097821528.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583114608097821528.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583114608097821528.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583114608097821528.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583114608097821528.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583114608097821528.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583114608097821528.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583114608097821528.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583114608097821528.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583114608097821528.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583114608097821528.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583114608097821528.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583114608097821528.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583114608097821528.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583114608097821528.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583114608097821528.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583114608097821528.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583114608097821528.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583114608097821528.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583114608097821528.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583114608097821528.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583114608097821528.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583114608097821528.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583114608097821528.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583114608097821528.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583114608097821528.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583114608097821528.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583114608097821528.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583114608097821528.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583114608097821528.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583114608097821528.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583114608097821528.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-583114608097821528.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583114608097821528.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583114608097821528.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583114608097821528.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583114608097821528.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583114608097821528.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583114608097821528.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583114608097821528.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583114608097821528.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583114608097821528.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583114608097821528 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-583114608097821528 .gp-relative{position:relative}.gps-583114608097821528 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583114608097821528 .gp-mb-0{margin-bottom:0}.gps-583114608097821528 .gp-inline-block{display:inline-block}.gps-583114608097821528 .gp-flex{display:flex}.gps-583114608097821528 .gp-grid{display:grid}.gps-583114608097821528 .gp-contents{display:contents}.gps-583114608097821528 .\!gp-hidden{display:none!important}.gps-583114608097821528 .gp-hidden{display:none}.gps-583114608097821528 .gp-h-auto{height:auto}.gps-583114608097821528 .gp-h-full{height:100%}.gps-583114608097821528 .gp-w-full{width:100%}.gps-583114608097821528 .gp-max-w-full{max-width:100%}.gps-583114608097821528 .gp-flex-none{flex:none}.gps-583114608097821528 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583114608097821528 .gp-flex-col{flex-direction:column}.gps-583114608097821528 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583114608097821528 .gp-duration-200{transition-duration:.2s}.gps-583114608097821528 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583114608097821528 .tablet\:\!gp-hidden{display:none!important}.gps-583114608097821528 .tablet\:gp-hidden{display:none}.gps-583114608097821528 .tablet\:gp-h-auto{height:auto}.gps-583114608097821528 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583114608097821528 .mobile\:\!gp-hidden{display:none!important}.gps-583114608097821528 .mobile\:gp-hidden{display:none}.gps-583114608097821528 .mobile\:gp-h-auto{height:auto}.gps-583114608097821528 .mobile\:gp-flex-none{flex:none}}.gps-583114608097821528 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVwv0QTzqt"}' data-id="gVwv0QTzqt" id="gVwv0QTzqt" data-same-height-subgrid-container class="gVwv0QTzqt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--pt-mobile:var(--g-s-3xl);--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMoG6c5vZk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-pGVetxPE"}' data-id="g-pGVetxPE" id="g-pGVetxPE" data-same-height-subgrid-container class="g-pGVetxPE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:0px;--pb-mobile:var(--g-s-2xl);--pr-mobile:0px;--pt-tablet:var(--g-s-xl);--pl-tablet:0px;--pb-tablet:var(--g-s-xl);--pr-tablet:0px;--cg:var(--g-s-3xl);--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdSazsLhEo gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gmHpnSx4Wr"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757093181638 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gmHpnSx4Wr"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/ba9a9d96-d341-450f-9fcb-6cd05dea709e/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDMwLTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzMC00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzAiIHRvPSI0MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/ba9a9d96-d341-450f-9fcb-6cd05dea709e/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDMwLTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzMC00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzAiIHRvPSI0MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://ucarecdn.com/ba9a9d96-d341-450f-9fcb-6cd05dea709e/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDMwLTQzMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDMwIiBoZWlnaHQ9IjQzMCIgZmlsbD0idXJsKCNnLTQzMC00MzApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00MzAiIHRvPSI0MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://ucarecdn.com/ba9a9d96-d341-450f-9fcb-6cd05dea709e/-/format/auto/"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--objf:cover;--w:180px;--w-tablet:180px;--w-mobile:150px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g-8Kh8pD7Z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMlfWEryHU"
        class="gMlfWEryHU"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mt-mobile:var(--g-s-2xl);--mb-mobile:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757093181640"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMlfWEryHU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKY4WzA67I"
        class="gKY4WzA67I"
        style="--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757093181640"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKY4WzA67I_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-583114608097821528 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=583114608097821528)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggMlfWEryHU_text","label":"ggMlfWEryHU_text","default":"<p>100% Money-Back Guarantee</p>"},{"type":"html","id":"ggKY4WzA67I_text","label":"ggKY4WzA67I_text","default":"<p>If you are not 100% satisfied with your purchase, then you may return your order for a full refund with no questions asked.</p><p>&nbsp;</p><p>With 50,000+ 5-star reviews, we pledge to provide you with the highest levels of value, quality, and personal service available, so your complete satisfaction is guaranteed.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  