
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-582807064498143896.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-582807064498143896.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-582807064498143896.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-582807064498143896.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-582807064498143896.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-582807064498143896.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-582807064498143896.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-582807064498143896.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-582807064498143896.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-582807064498143896.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-582807064498143896.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-582807064498143896.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-582807064498143896.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-582807064498143896.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-582807064498143896.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-582807064498143896.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-582807064498143896.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-582807064498143896.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-582807064498143896.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-582807064498143896.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-582807064498143896.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-582807064498143896.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-582807064498143896.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-582807064498143896.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-582807064498143896.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-582807064498143896.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-582807064498143896.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-582807064498143896.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-582807064498143896.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-582807064498143896.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-582807064498143896.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-582807064498143896.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-582807064498143896.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-582807064498143896.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-582807064498143896.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-582807064498143896.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-582807064498143896.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-582807064498143896.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-582807064498143896.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-582807064498143896.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-582807064498143896.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-582807064498143896.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-582807064498143896.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-582807064498143896.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-582807064498143896.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-582807064498143896.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-582807064498143896.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-582807064498143896.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-582807064498143896.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-582807064498143896.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-582807064498143896.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-582807064498143896.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-582807064498143896.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-582807064498143896.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-582807064498143896 .gp-relative{position:relative}.gps-582807064498143896 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-582807064498143896 .gp-mb-0{margin-bottom:0}.gps-582807064498143896 .gp-flex{display:flex}.gps-582807064498143896 .gp-grid{display:grid}.gps-582807064498143896 .\!gp-hidden{display:none!important}.gps-582807064498143896 .gp-hidden{display:none}.gps-582807064498143896 .gp-max-w-full{max-width:100%}.gps-582807064498143896 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-582807064498143896 .gp-flex-col{flex-direction:column}.gps-582807064498143896 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-582807064498143896 .gp-duration-200{transition-duration:.2s}.gps-582807064498143896 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-582807064498143896 .tablet\:\!gp-hidden{display:none!important}.gps-582807064498143896 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-582807064498143896 .mobile\:\!gp-hidden{display:none!important}.gps-582807064498143896 .mobile\:gp-hidden{display:none}}.gps-582807064498143896 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":117,"src":"https://ucarecdn.com/36866726-bc1c-4f4a-a895-47b1ff3c9a63/-/format/auto/-/preview/3000x3000/-/quality/lighter/","width":3000},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"grXtvqA0l1"}' data-id="grXtvqA0l1" id="grXtvqA0l1" data-same-height-subgrid-container class="grXtvqA0l1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url(https://ucarecdn.com/36866726-bc1c-4f4a-a895-47b1ff3c9a63/-/format/auto/-/preview/3000x3000/-/quality/lighter/);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX1xjYNAHf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guQwqTM5bD"}' data-id="guQwqTM5bD" id="guQwqTM5bD" data-same-height-subgrid-container class="guQwqTM5bD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--pr:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-YI2XVzaf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWfL8gViTX"
        class="gWfL8gViTX"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756909881852"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#895B36;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWfL8gViTX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-582807064498143896 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=582806957543392217&sectionId=582807064498143896)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWfL8gViTX_text","label":"ggWfL8gViTX_text","default":"<p>FREE SHIPPING On Orders Over $30!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  