
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584906323364348504.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584906323364348504.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584906323364348504.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584906323364348504.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584906323364348504.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584906323364348504.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584906323364348504.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584906323364348504.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584906323364348504.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584906323364348504.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584906323364348504.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584906323364348504.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584906323364348504.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-584906323364348504.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584906323364348504.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584906323364348504.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584906323364348504.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584906323364348504.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584906323364348504.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584906323364348504.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584906323364348504.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584906323364348504.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584906323364348504.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584906323364348504.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584906323364348504.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584906323364348504.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584906323364348504.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584906323364348504.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584906323364348504.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584906323364348504.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584906323364348504.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584906323364348504.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584906323364348504.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584906323364348504.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-584906323364348504.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584906323364348504.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584906323364348504.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584906323364348504.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584906323364348504.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-584906323364348504.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584906323364348504.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584906323364348504.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584906323364348504.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584906323364348504.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-584906323364348504 .gp-relative{position:relative}.gps-584906323364348504 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584906323364348504 .gp-mb-0{margin-bottom:0}.gps-584906323364348504 .gp-flex{display:flex}.gps-584906323364348504 .gp-grid{display:grid}.gps-584906323364348504 .\!gp-hidden{display:none!important}.gps-584906323364348504 .gp-hidden{display:none}.gps-584906323364348504 .gp-max-w-full{max-width:100%}.gps-584906323364348504 .gp-cursor-pointer{cursor:pointer}.gps-584906323364348504 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584906323364348504 .gp-flex-col{flex-direction:column}.gps-584906323364348504 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584906323364348504 .gp-duration-200{transition-duration:.2s}.gps-584906323364348504 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584906323364348504 .tablet\:\!gp-hidden{display:none!important}.gps-584906323364348504 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-584906323364348504 .mobile\:\!gp-hidden{display:none!important}.gps-584906323364348504 .mobile\:gp-hidden{display:none}}.gps-584906323364348504 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gajyG0a7PZ"}' data-id="gajyG0a7PZ" id="gajyG0a7PZ" data-same-height-subgrid-container class="gajyG0a7PZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPZutYTheI gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gvAYVlUVR0 gp-cursor-pointer gp-custom-code">
      <div>
    
    </div>
    </div>
  
      <script id="custom-js-gvAYVlUVR0">
        try {
          /**************  CONFIG  **************/
const OFFERS = [
  {
    selector: '.js-yampi-1',                 // botão 1
    variantId: 44451639591052,               // Testo Boost - 1 pote
    qty: 1,
    yampiUrl: 'https://seguro.femaura.com.br/r/1JMM853GJ7'
  },
  {
    selector: '.js-yampi-2',                 // botão 2
    variantId: 44447363661964,               // sua segunda variante
    qty: 1,
    yampiUrl: 'https://seguro.femaura.com.br/r/C9OCR8LH8C'
  }
];
/************  /CONFIG  ***************/

function withUTM(url){
  const qs = location.search.replace(/^\?/,'');
  return qs ? url + (url.includes('?')?'&':'?') + qs : url;
}

async function flowToYampi(variantId, qty, yampiUrl){
  // 1) limpa
  await fetch('/cart/clear.js', { method:'POST', credentials:'same-origin' });

  // 2) adiciona item
  await fetch('/cart/add.js', {
    method:'POST',
    headers:{ 'Content-Type':'application/json' },
    body: JSON.stringify({ id: variantId, quantity: qty }),
    credentials:'same-origin'
  });

  // 3) redireciona
  location.assign(withUTM(yampiUrl));
}

(function attachHandlers(){
  function bindOne(cfg){
    document.querySelectorAll(cfg.selector).forEach(el=>{
      if (el.__yampiBound) return;
      el.__yampiBound = true;

      // evita qualquer navegação nativa
      if (el.tagName === 'A') el.setAttribute('href','javascript:void(0)');

      el.addEventListener('click', async (ev)=>{
        ev.preventDefault();
        ev.stopPropagation();
        try {
          await flowToYampi(cfg.variantId, cfg.qty || 1, cfg.yampiUrl);
        } catch(e){
          console.error('Erro no fluxo Yampi:', e);
          alert('Não foi possível processar agora. Tente novamente.');
        }
        return false;
      }, { capture: true });
    });
  }

  function bindAll(){
    OFFERS.forEach(bindOne);
  }

  bindAll();
  // GemPages pode re-renderizar; observa o DOM para reanexar handlers
  new MutationObserver(bindAll).observe(document.documentElement, { childList:true, subtree:true });
})();

        } catch(err){}
      </script>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 18",
    "tag": "section",
    "class": "gps-584906323364348504 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=584906323179602520&sectionId=584906323364348504)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  