
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583159770148504177.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583159770148504177.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583159770148504177.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583159770148504177.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583159770148504177.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583159770148504177.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583159770148504177.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583159770148504177.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583159770148504177.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583159770148504177.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583159770148504177.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583159770148504177.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583159770148504177.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583159770148504177.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583159770148504177.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583159770148504177.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583159770148504177.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583159770148504177.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583159770148504177.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583159770148504177.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583159770148504177.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583159770148504177.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583159770148504177.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583159770148504177.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583159770148504177.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583159770148504177.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583159770148504177.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583159770148504177.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583159770148504177.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583159770148504177.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583159770148504177.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583159770148504177.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583159770148504177.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583159770148504177.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583159770148504177.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583159770148504177.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583159770148504177.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583159770148504177.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583159770148504177.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583159770148504177.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583159770148504177.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583159770148504177.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583159770148504177.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583159770148504177.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583159770148504177.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583159770148504177.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583159770148504177.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583159770148504177.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-583159770148504177.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583159770148504177.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-583159770148504177.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-583159770148504177.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583159770148504177.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583159770148504177.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583159770148504177.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583159770148504177.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-583159770148504177.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583159770148504177.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583159770148504177.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583159770148504177.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583159770148504177.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583159770148504177.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-583159770148504177.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583159770148504177.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583159770148504177.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583159770148504177.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583159770148504177.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583159770148504177.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583159770148504177 .gp-relative{position:relative}.gps-583159770148504177 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583159770148504177 .gp-mb-0{margin-bottom:0}.gps-583159770148504177 .gp-flex{display:flex}.gps-583159770148504177 .gp-grid{display:grid}.gps-583159770148504177 .\!gp-hidden{display:none!important}.gps-583159770148504177 .gp-hidden{display:none}.gps-583159770148504177 .gp-max-w-full{max-width:100%}.gps-583159770148504177 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583159770148504177 .gp-flex-col{flex-direction:column}.gps-583159770148504177 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583159770148504177 .gp-duration-200{transition-duration:.2s}.gps-583159770148504177 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583159770148504177 .tablet\:\!gp-hidden{display:none!important}.gps-583159770148504177 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583159770148504177 .mobile\:\!gp-hidden{display:none!important}.gps-583159770148504177 .mobile\:gp-hidden{display:none}}.gps-583159770148504177 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZOCGEhjgV"}' data-id="gZOCGEhjgV" id="gZOCGEhjgV" data-same-height-subgrid-container class="gZOCGEhjgV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pb:117px;--pt-mobile:63px;--pl-mobile:25px;--pb-mobile:90px;--pr-mobile:25px;--pt-tablet:80px;--pl-tablet:25px;--pb-tablet:117px;--pr-tablet:25px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g21J8xZ0Me gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7YaPsz_Zj"}' data-id="g7YaPsz_Zj" id="g7YaPsz_Zj" data-same-height-subgrid-container class="g7YaPsz_Zj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:716px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYM9fMOeCn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZXutPFSZv"
        class="gZXutPFSZv"
        style="--ta:left;--ta-tablet:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:19px;--mb-mobile:17px;--pl-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120045884"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:400;--ls:0px;--size:44px;--size-tablet:43px;--size-mobile:26px;--lh:54px;--lh-tablet:130%;--lh-mobile:32px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZXutPFSZv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g61sOLaA2y"
        class="g61sOLaA2y"
        style="--ta:left;--ta-tablet:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757120045886"
      >
      <div class="gp-flex" style="--jc:left;--jc-tablet:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:716px;--w-mobile:338px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:20px;--size-tablet:16px;--size-mobile:14px;--lh:27px;--lh-tablet:180%;--lh-mobile:18px;--c:#4B6D13;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg61sOLaA2y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g61sOLaA2y">
        .g61sOLaA2y {

}
.g61sOLaA2y p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-583159770148504177 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gktedx-az/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=583114607929852760&sectionId=583159770148504177)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZXutPFSZv_text","label":"ggZXutPFSZv_text","default":"Why Supplement with Essential Fatty Acids?"},{"type":"html","id":"gg61sOLaA2y_text","label":"gg61sOLaA2y_text","default":"<p>Even with a balanced diet, many people do not get sufficient essential fatty acids. Our convenient capsules make it easy to incorporate these vital nutrients into your daily routine, ensuring you get the support your body needs.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  